@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.container {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 40px 0 #dbdbdb;
}

/* Header */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.page-logo {
  display: block;
  margin-left: 70px;
  width: 139px;
}

.navigation-logo {
  position: absolute;
  z-index: 1;
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  margin-left: 10px;
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  width: 340px;
  margin-left: auto;
}

.navigation-link {
  width: 19px;
  height: 17px;
  display: block;
  padding: 24px 12px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;

}

.link-favorite::after {
  content: "12";
  display: block;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
  left: 13px;
}

.navigation-link-basic {
  height: 21px;
  display: block;
  padding: 22px 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.control-input-infrastructure {
  margin: 0px;
  width: 20px;
  height: 20px;
}

.button-header {
  display: block;
  font-weight: 700;
  background-color: #756157;
  width: 130px;
  line-height: 20px;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  padding: 9px 15px 8px 15px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 14px 14px 14px 20px;
}

.line-current {
  position: absolute;
  width: 68px;
  top: 63px;
  margin-left: 14px;
}

.navigation-item {
  height: 65px;
}

/* Main-title */
.main-index {
  text-align: center;
}

.main-header {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/photo-sedona/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0 370px;
  height: 485px;
}

.main-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 1200px;
  background-image: url("../images/decorative-insert.svg");
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  margin-top: 51px;
}

.to-the-gordeous {
  margin-top: 11px;
}

.logo-sedona {
  margin-top: 53px;
}

.decorative-insert {
  width: 1200px;
  margin-top: 26px;
}

.main-title {
  padding: 0 290px;
  width: 620px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 63px;
}

.header-advantages-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 31px;
  margin-bottom: 90px;
  padding: 0 270px;
}


/* Information */
.large-blocks {
  background: #82B3D3;
  color: #FFFFFF;
}

.block-1 {
  display: flex;
}

.advantages {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

.advantages-item {
  background-color: #83B3D31F;
}

.advantages-title {
  padding: 0 85px;
  text-transform: uppercase;
  size: 24px;
  line-height: 28px;
  margin: 0 0 30px 0;
}

.advantages-number {
  padding: 0 85px;
}

.advantages-title-section {
  padding: 0 85px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 103px 0 30px 0;
}

.advantages-title-city,
.advantages-title-bridge {
  padding: 0 85px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 92px 0 30px 0;
}

.advantages-text-section {
  margin: 0 auto;
  padding: 0 85px;
}

.advantages-text {
  margin: 30px 0 0 0;
  padding: 0 85px;
}

.advantages-meal {
  width: 400px;
  height: 384px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-block {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.block-2 {
  display: flex;
}

.advantages-road {
  width: 400px;
  height: 384px;
  background-color: #FFFFFF;
  color: #000000;
  background-image: url("../images/background/background-4.png");
}

.advantages-vector {
  margin-top: 80px;
  margin-bottom: 30px;
}

.image {
  height: 384px;
}

.block-3 {
  display: flex;
  list-style-type: none;
}

/* proposal and subscribe */
.proposal {
  font-size: 22px;
  line-height: 26px;
  width: 1200px;
  height: 417px;
}

.advantages-proposal {
  padding: 0 304px;
  width: 592px;
  color: #333333;
  margin: 0;
  margin-top: 29px;
}

.navigation-link-searche {
  display: inline-block;
  width: 544px;
  line-height: 36px;
  background-color: #756157;
  border-radius: 4px;
  margin-top: 56px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/photo-sedona/background-subsсribe.jpg");
  width: 1200px;
  height: 411px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-email {
  display: flex;
  width: 800px;
  margin: 46px 200px;
}

.advantages-subscibe {
  padding: 0 363px;
  width: 475px;
  margin-top: 29px
}

.your-email {
  border: none;
  padding-left: 22px;
  width: 600px;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
}

.subscribe-button {
  text-transform: uppercase;
  border: none;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  width: 200px;
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  display: inline-block;
}

.subscribe-button:focus,
.subscribe-button:hover {
  background-color: #68A2CA;
}

.button-fovarite:focus {
  background-color: #68A2CA;
}

.apply-button:focus,
.apply-button:hover {
  background-color: #68A2CA;
}

.pagination-link:hover,
.button-fovarite:hover {
  background-color: #68A2CA;
}

.advantages-title-subscribe {
  padding: 94px 290px 0 290px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto
}

.advantages-title-proposal {
  padding: 91px 290px 0 290px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto
}

.breadcrumbs-item-home {
  margin-right: 24px;
}


.breadcrumbs-item-home::after {
  background-image: url("../images/arrow.svg");
  position: relative;
  bottom: 15px;
  left: 27px;
  color: #FFFFFF;
  content: "";
  display: block;
  width: 6px;
  height: 9px;
}

.breadcrumbs-home {
  fill: #FFFFFF;
}

/* Footer */

.page-footer-container {
  align-items: center;
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 55px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-social-item {
  margin-left: 26px;
}

.tel-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.tel-number:focus,
.tel-number:hover {
  color: #756157;
}

.tel-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy {
  max-width: 115px;
  margin-right: 15px;
}


/* Catalog */

/*selection*/


.selection-hotels {
  padding-left: 70px;
  padding-top: 35px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/photo-sedona/bg-selection-hotels.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 403px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-list {
  padding: 0;
  list-style-type: none;
}

.catalog-filter-group {
  width: 287px;
  margin: 0;
  border: none;
  padding: 0;
  height: 149px;
}

.catalog-result-searche {
  margin-top: 55px;
}

.control-input {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.catalog-filter-list {
  margin: 0px;
}

.breadcrumbs {
  margin: 10px 0 0 0;
  list-style-type: none;
  display: flex;
  font-size: 16px;
  padding: 0;
  height: 21px;
}

.catalog-filter-item {
  height: 21px;
  margin-top: 15px;
}

.catalog-filter {
  margin-top: 40px;
  list-style-type: none;
  display: flex;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-infrastructure {
  flex-wrap: wrap;
  width: 150px;
  margin: 0;
  margin-right: 70px;
}

.catalog-sorting {
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 12px 7px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 290px;
  height: 49px;
  margin-left: 191px;
  appearance: none;
}

.button {
  text-decoration: none;
}

.catalog-column {
  margin-top: 62px;
}

.sorting {
  list-style-type: none;
  display: flex;
  margin-top: 0;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
  box-sizing: border-box;
}

.card-grid-toggle:hover,
.card-grid-toggle:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.card-grid-toggle svg {
  fill: #000000;
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  padding-left: 73px;
  list-style-type: none
}

.filter-housing {
  width: 100px;
  margin-right: 222px;
}

.apply-button {
  width: 160px;
  height: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 14px 15px 14px 15px;
  cursor: pointer;
  display: inline-block;
}

.throw-button {
  width: 94px;
  height: 26px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  align-self: center;
  justify-self: center;
}

.throw-button:hover {
  color: #FFFFFF;
  opacity: 60%;
}

.throw-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 2px;
}

.throw-button:active {
  color: #FFFFFF;
  opacity: 30%;
}

.button-filter-catalog {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 70px;
}

.card {
  width: 400px;
  height: 384px;
}

.photo-card-1 {
  width: 800px;
  height: 384px;
}

.hotels-card-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.hotels-card {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  grid-template-rows: 211px 28px 21px 37px 37px;
  row-gap: 16px;
  width: 300px;
  padding: 20px;
}

.hotels-card-link {
  grid-column: 1/-1;
}

.hotels-card-link-title {
  grid-column: 1/-1;
  text-decoration: none;
}

.hotels-card-image {
  object-fit: cover;
}

.rating-stars {
  line-height: 37px;
}

.result-searche {
  text-transform: uppercase;
  padding-left: 1px;
  margin: 0;
  line-height: 52px;
}

.headen-hotels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
  padding: 0 71px;
}

.arrow {
  padding-left: 10px;
}

.hotels-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
}

.button-detailed {
  background-color: #756157;
  padding: 9px 26px 8px 26px;
  display: block;
  border-radius: 4px;
}

.button-detailed:hover,
.button-detailed:focus {
  background-color: #615048;
}

.button-header:focus,
.button-header:hover {
  background-color: #615048;
}

.navigation-link-searche:hover,
.navigation-link-searche:focus {
  background-color: #615048;
}

.button-detailed:active,
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-in-fovarite:active,
.button-header:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-searche:active,
.button-fovarite:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-header:active,
.apply-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link {
  padding: 0 0 0 10px;
  text-decoration: none;
  color: #FFFFFF
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.hotels-card-price {
  font-weight: 400;
}

.range {
  margin-top: 34px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #4d4d4d;
  margin-top: 32px;
}

.range-bar {
  position: absolute;
  background-color: #FFFFFF;
  height: 4px;
}

.filter-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.filter-type-of-housing {
  flex-wrap: wrap;
  width: 155px;}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  color: #FFFFFF;
  opacity: 30%;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  color: #FFFFFF;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px 0px #00000040;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px 0px #00000066;

}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px 0px #00000040;

}

.button-in-fovarite {
  background-color: #7DB54F;
  border-radius: 4px;
  display: block;
  padding: 9px 18px 8px 18px;
}

.button-in-fovarite:hover,
.button-in-fovarite:focus {
  background-color: #6C9E42;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  display: block;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.hotel-card-name {
  width: 140px;
  height: 21px;
}

.button-fovarite {
  background: #82B3D3;
  border-radius: 4px;
  display: block;
  padding: 9px 20px 8px 20px;
}

.pagination-hotels {
  display: block;
  width: 60px;
  height: 60px;
  list-style-type: none;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-hotels-current {
  display: block;
  width: 60px;
  height: 60px;
  list-style-type: none;
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
  border-radius: 4px;
  margin-left: 73px;
  margin-right: 8px;
}

.catalog-subscribe {
  font-size: 22px;
  line-height: 26px;
  max-width: 1200px;
  height: 411px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-hotels {
  margin-top: 30px;
  display: flex;
}

.footer-social-link {
  fill: #82B3D3;
}

.footer-social-link:focus,
.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:active {
  fill: rgba(104, 162, 202, 0.3)
}

.footer-html-link:focus,
.footer-html-link:hover {
  fill: #756157;
}

.footer-html-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-link-searche:disabled,
.button-fovarite:disabled {
  background-color: #E5E5E5;
}

.button-detailed:disabled,
.button-in-fovarite:disabled {
  background-color: #E5E5E5;
}

.subscribe-button:disabled,
.apply-button:disabled {
  background-color: #E5E5E5;
}

.button-header:disabled {
  background-color: #E5E5E5;
}

.quantity-hotels {
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 12px 7px;
  padding: 14px 20px;
  margin-top: 6px;
  margin-right: 71px;
  width: 160px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;

}

.line-bottom {
  margin: 46px 72px 0 73px;
}

.arrow-bottom {
  width: 12px;
  height: 7px;
}

.hotels-in-page {
  line-height: 60px;
  margin: 0 51px 0 250px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link-current-home {
  position: relative;
}

.navigation-link-current-home::after {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link-current-hotels {
  position: relative;
}

.navigation-link-current-hotels::after {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}